<div class="jumbotron">
    <h1 class="text-center" id="serv" data-aos="fade-top">SERVICIOS</h1>
    <hr style="height:3px;margin:auto; width:100px; background:blue;"  data-aos="top"  data-aos-duration="300">
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
        <section class="main row">

        <article class="col-lg-4  " data-aos=""  data-aos-duration="200">
            <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISION MAQUINADO</h5><img  class=" mx-auto d-block"  style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"  src="/img/montaje.svg"></button>
        
        <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton" >
                <a class="dropdown-item" href="#dropdown-item" >*Proyectos en maquinado<br> industrial alta presicion</a>
                <a class="dropdown-item" href="#dropdown-item" >*Mesa CMM Mitutoyo apex s 7106</a>
                <a class="dropdown-item" href="#dropdown-item" >*Diseño Mecánico 3D</a>
        </div>
        
       
    </article>   
    
    <article class="col-lg-4  " data-aos=""  data-aos-duration="200">
        <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISION CONSTRUCCION</h5><img  class=" mx-auto d-block"  style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"  src="/img/construccion.png"></button>
        
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton" >
            <a class="dropdown-item" href="#dropdown-item" >*Planeción, desarrollo e implementación<br>proyectos en obra civil y construcción</a>
        
    </div>
    
   
</article>   

<div class="col-lg-4  " data-aos=""  data-aos-duration="200">
        <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISION ELECTRÓNICA</h5><img  class=" mx-auto d-block"  style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"  src="/img/circuito.svg"></button>
        
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton" >
            <a class="dropdown-item" href="#dropdown-item" >*Desarrollo e implementación <br> proyectos en electrónica</a>
         
    </div>
    <br>
    <br>
    <br>
    <br>
            
</div>  
    <br>
    <br>
    <br>
    <br>

    <div class="col-lg-4  " data-aos=""  data-aos-duration="200">
        <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISION ELECTROMECÀNICA</h5><img  class=" mx-auto d-block"  style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"   src="/img/engranajes.svg"></button>
        
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton" >
            <a class="dropdown-item" href="#dropdown-item" >*Soldadura estructural</a>
            <a class="dropdown-item" href="#dropdown-item" >*Proyectos instalaciones eléctricas</a>
            <a class="dropdown-item" href="#dropdown-item" >*Proyectos Hidraulicos</a>
            <a class="dropdown-item" href="#dropdown-item" >*Proyectos Pneumática</a>
    </div>
    
            
	</div>

    <div class="col-lg-4  " data-aos=""  data-aos-duration="200">
        <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISION INSUMOS
        </h5><img  class=" mx-auto d-block"  style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"  src="/img/manufactura.svg"></button>
        
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton" >
            <a class="dropdown-item" href="#dropdown-item" >*Venta insumos en:<br> *Electrónica<br>*Eléctrica <br> *Automatización 
            <br>*Pneumática<br>*Hidráulica<br>*Control y Fuerza</a>
         
    </div>
    
            
    </div>
    

 <div class="col-lg-4  " data-aos=""  data-aos-duration="200">
        <button class="btn btn-dropdown mx-auto d-block" type="button"  id="dropdownMenuBoton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><h5 class="text-center"> DIVISION 4.0
        </h5><img  class=" mx-auto d-block"  style="width:6em; height:6em; padding:0.1em 0.1em;  border-radius:3em;"  src="/img/automatizacion.svg"></button>
        
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton" >
            <a class="dropdown-item" href="#dropdown-item" >Proyectos en automatismo<br> industrial y comercial</a>
         
    </div>
    <br>
    <br>
    <br>
    <br>
            
	</div>



   




    </div>
        </div>
</div>
</div>
