<div class="container-fluid" style="margin-top:5em;">
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <center><img class="img-fluid" src="img/ind4.0.png" alt="Los Angeles" width="75%" height="400"></center>
      <div class="carousel-caption">
        <p data-aos="fade-left">Industria 4.0 </p>
      </div>   
    </div>
 

    <div class="carousel-item">
      <center><img class="img-fluid" src="img/engranem.png" width="75%" height="500px"></center>
      <div class="carousel-caption">
      <p  data-aos="fade-left">Proyectos en maquinado Alta presición</p>
      </div>
      
        </div>

    <div class="carousel-item">
      <center><img class="img-fluid" src="img/electromechanic.png" alt="Chicago" width="75%" height="400"></center>
      <div class="carousel-caption">
	<p  data-aos="fade-left" >Venta insumos Electrónica - Electromecánica <br></p>
        </div>   

    </div>

    <div class="carousel-item">
      <center><img class="img-fluid" src="img/controllinopre.png" alt="Chicago" width="75%" height="400"></center>
      <div class="carousel-caption">
	<p  data-aos="fade-left">Venta de insumos, Programación e integración de PLC Industrial Open Source <br>
            </p>
        </div>   
        
    </div>

    <div class="carousel-item">
      <center><img class="img-fluid" src="img/gestionvisual.png" alt="Chicago" width="75%" height="400"></center>
      <div class="carousel-caption">
	<p  data-aos="fade-left">Gestiona tus procesos y tus proyectos de maneras mas eficientes con software hecho a tu medida<br>
            </p>
        </div>   
        
    </div>

  
    
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
